# Ignore large files
*.iso
*.img
*.vmdk
*.vdi
*.qcow2
inventory.ini

# Ignore Vagrant runtime files
.vagrant/
/.vagrant
/.vagrant/machines/


# Ignore temporary files
*.tmp
*.temp

# Ignore OS specific files
.DS_Store
Thumbs.db

# Ignore IDE files
.vscode/
.idea/

# Ignore Key folder
/Keys

# Ignore sensitive files
.env
#*.pem
#*.key
/Keys/vps_key
/Keys/vps_key.pub
