# Ignore large files
*.iso
*.img
*.vmdk
*.vdi
*.qcow2

# Ignore temporary files
*.tmp
*.temp
*.log

# Ignore OS specific files
.DS_Store
Thumbs.db

# Ignore IDE files
.vscode/
.idea/

# Ignore Key folder
keys/

# Ignore sensitive files
.env
#*.pem
#*.key
#!vps_key
#!vps_key.pub
inventory.ini
