[defaults]
inventory = inventory.ini
host_key_checking = False
roles_path = roles
retry_files_enabled = False
# profile_tasks enables us to see how long each task takes to execute
# This could be useful for performance tuning and identifying bottlenecks
# To enable, uncomment the following line below:
#callbacks_enabled = profile_tasks

[ssh_connection]
pipelining = True

# Enable in-memory caching for inventory to improve performance
# More info at: https://spacelift.io/blog/how-to-improve-ansible-performance
[inventory]
cache = True
cache_plugin = memory
cache_timeout = 600